@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$primary-color: hsl(172, 67%, 45%);
$very-dark-cyan : hsl(183, 100%, 15%);
$Dark-grayish-cyan1: hsl(186, 14%, 43%);
$Dark-grayish-cyan2: hsl(184, 14%, 56%);
$Light-grayish-cyan1: hsl(185, 41%, 84%);
$Light-grayish-cyan2: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    background: $Light-grayish-cyan1;
}

.header {
    text-align: center;
    color: $very-dark-cyan;
    letter-spacing: .5em;
    line-height: 1.8em;
    padding: 2.5em;
}

.container-white {
    background-color: $White;
    border-radius: 20px;
    padding: 1.5em;

     // Text input styles
    input[type=text] {
        font-weight: bold;
        text-align: right;
        background-color: $Light-grayish-cyan2;
        color: $very-dark-cyan;
    }
  
    form {

        label {
            font-weight: 700;
            color: $Dark-grayish-cyan2;
        }

        input::placeholder {
            color: $Dark-grayish-cyan1;
            text-align: left;
        }
    
        input {
            cursor: pointer;
            background-color: $Light-grayish-cyan2;
            padding: .5em;
            border: hidden;
            border-radius: 5px;
            width: 100%;
            font-size: 24px;
            margin-top: 10px;

           &:focus {
                outline-color: $primary-color;
            }
           
        }
        .label-wrapper {
            display: flex ;
            justify-content: space-between;
            
            #feedback {
                font-weight: 700;
                color: indianred;
                opacity: 0;
            }

            .show-error-msg {
                transition: opacity 1s ease-in-out !important;
                opacity: 1 !important;
            }
        }
            .error-outline {
                outline-color: indianred !important;
            }

        .total-cost {
            padding: 1.7em 0;

            .btn-active {
                background-color: $primary-color !important;
                color: $very-dark-cyan !important;
            }

            .btns {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 1.5rem;
                padding: .5em 0;

                #btn::placeholder {
                color: $very-dark-cyan !important;
                opacity: .8 !important;
                }

                   #btn {
                      cursor: pointer;
                      font-size: 24px;
                      width: 46%;
                      padding: .3em;
                      background-color: $very-dark-cyan;
                      border: none;
                      color: $White;
                      border-radius: 5px;
                      font-family: 'Space Mono', monospace;
                      font-weight: bold;

                      &:hover {
                        background-color: $Light-grayish-cyan1;
                        color: $very-dark-cyan;
                        font-weight: bold;
                   }
                  
                }

                .btn6 {
                    background-color: $Light-grayish-cyan2 !important;
                    color: $very-dark-cyan;
                    font-weight: bold;
                    text-align: center;

                    &::placeholder {
                        opacity: 1;
                        color: $very-dark-cyan ;
                        text-align: center !important;
                    }

                   &:focus {
                        text-align: right;
                    }
                }
                
                
               
            }

            i {
                position: absolute;
                padding: 30px;
                padding-left: 10px;
                min-width: 40px;
                color: $Dark-grayish-cyan1;
            }
         
    }

   

    .result {
        background-color: $very-dark-cyan;
        border-radius: 12px;
        padding: 2rem;

        .tip-amnt,
        .tot-prsn {
           display: flex;
           justify-content: space-between;
           padding-bottom: 1rem;

           .left-titles {
               line-height: 1rem;
           }
           .right-cost {
               color: $primary-color;
               font-size: 24px;
           }

           h3 {
               color: $Light-grayish-cyan1;
               font-size: 1rem;
           }

           p {
               color: $Dark-grayish-cyan1;
               font-size: .8rem;
               font-weight: bold;
           }
        }

        button {
            cursor: pointer;
            width: 100%;
            text-align: center;
            padding: .8em;
            border-radius: 5px;
            border: 2px solid $very-dark-cyan;
            font-weight: bolder;
            font-size: 1rem;
            color: $very-dark-cyan;
            background-color: $primary-color;

            &:hover {
                background-color: $Light-grayish-cyan1 !important;
            }
        }

       
}

.result-reset{
    opacity: .1 !important;
}
.result-reset2{
    opacity: 1 !important;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }}

}
// **********
// End of Container White
// **********





// **********
//  Medium devices (tablets, 768px and up)
// **********

@media (min-width: 768px) {

    .header {
        letter-spacing: .5em;
        line-height: 1.8em;
        margin-top: .5rem;
    }

    .container-white {
        width: 64%;
        // max-height: 60%;
        position: absolute;
        left: 50%;
        top: 55%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        form {
            display: flex;
            flex-direction: row;
            align-items: stretch !important;
            gap: 1.5rem;
            // justify-content: space-between;

            input {
                padding: .3em;
                width: 100%;
                font-size: 22px;
                margin-top: 5px; 
            }

            .left-align {
                width: 105%;
                height: 100% !important;
                padding: 1rem ;

                #bill,
                #input-people {
                    font-size: 1.9rem;
                }

                .total-cost {
                    width: 100% !important;
                    padding-top: 1.8rem;
                 
                    .btns { 
                        // margin-bottom: 25px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between !important;
                        flex-wrap: wrap;
                        gap: 1rem;
                        padding: .5em 0;
                       
                           #btn {
                              cursor: pointer;
                              font-size: 19px !important;
                              width: 27.5% !important;
                        }
                       
                    }
        
                    i {
                        position: absolute;
                        padding: 15px !important;
                        padding-left: 10px;
                        min-width: 40px;
                        color: $Dark-grayish-cyan1;
                    }
                }


            }
            .result {
                width: 50%;
                // height: 90%;
                // margin-left: 1em;
                padding: 1.5rem;
                padding-bottom: 2.5rem;

                button {
                    margin-top: 4.8rem;
                }
            }
        }

        

        .result {
            width: 95% !important;
            height: 100% !important;
            padding: 1.5rem !important;

            .tip-amnt,
            .tot-prsn {
                margin: 0.5rem 0 2.4rem 0;
            
            .left-titles {
                line-height: 1rem;
                padding-top: 1.2rem;
            }
            .right-cost {
                font-size: 27px !important;
            }

            h3 {
                font-size: 1.2rem !important;
            }

            }

        }
    }
 }

